# Compiled & generated output
/*/dist/
*/app/queries/

# Cache
*/.cache

# Yarn
*/.yarn
*/.pnp.*

# TypeScript
*/tsconfig.base.json

# Misc
/.husky
*.hbs
*.stylelintrc.json
*.vscode/settings.json
*postcss.config.js
*tailwind.config.js

# package manager
*package.lock.json
*pnpm-lock.yaml
*package.json
**/*.md

