hr {
  border: none;
  height: 2px;
  background-color: #8c8c8c; /* Modern Browsers */
}

.logo {
  margin: 20px;
}

.card-box {
  background-color: #28077c !important;
  color: white;
  opacity: 0.9;
  height: 77vh;
}

.card-box li {
  list-style-type: circle !important;
  list-style-position: inside;
}

h4 {
  text-align: center;
}

.scroll {
  max-height: 975px;
  overflow-y: auto;
}

div[contenteditable] {
  outline: none;
}
