.task-nav {
  margin-top: 1%;
  font-size: xx-large;
}

.task-nav:hover {
  cursor: pointer;
}

.assignable.mb-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  padding-top: 1%;
  border-radius: 8px;
}

.task {
  display: flex;
  background-color: black;
  border-radius: 8px;
  width: 10%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  color: white;
}

.task:hover {
  background-color: white;
  color: black;
}

.available-users {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-align: center;
  width: 30%;
  color: white;
  background-color: black;
  font-size: large;
}

.selected-user {
  margin-top: 5px;
  font-size: x-large;
}

.assigned-tasks {
  text-align: center;
  margin-left: 26.5%;
  margin-top: 5px;
  border: 3px solid black;
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

.d-flex.buttons {
  display: flex;
  justify-content: center;
}

.dropped-task {
  margin: 6px 6px 6px 9px;
  background-color: black;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 280px;
}

.user-column {
  text-align: center;
  display: contents;
}

.assigned-troops {
  color: white;
  font-size: xx-large;
}
